/* CSS styling */

body{
  font-family: Tahoma,sans-serif;
  font-size: 16px;
  background: rgba(166,89,91,1);
  background: linear-gradient(-45deg, rgba(204,153,102,1) 30%, rgba(208,159,160,1) );
  background-attachment: fixed;
  color: #fff;
  margin: 0;
}
/* header Styling */
header{
 width: 100%;
 background: rgba(169,89,91,0.75);
 height: 100px;
 line-height: 80px;
 position: relative;
}

#display_Time{
  position: absolute;
  top: 28px;
  right:400px;
  margin: 0 auto;
  text-align: center;
}

/* navigation bar styling */
nav {
  width: 100%;
  background: rgba(169,89,91);
  height: 50px;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;
  display: inline-block;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  display: inline-block;
  background: rgb(169,89,91);
  color:#fff;
  padding: 0 50px;
  line-height: 50px;
  font-weight: bold;
}


nav ul li a:link,
nav ul li a:visited{
 background: rgb(169,89,91);
 color: #fff;
}

nav ul li a:hover,
nav ul li a:active{
 background: #fff;
 color: rgb(169,89,91);
}
/* footer styling */
footer{
 width: 100%;
 background: rgba(169,89,91,1);
 line-height: 50px;
 height: 50px;
 text-align: center;
 font-size: 1em;
}
/* form Styling */
form{
  width: 23%;
  margin: 0 auto;
  margin-top: 2%;
  background-color:rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,1);
  padding:20px;
}

input{
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 4px solid transparent;
}

input:hover{
  box-shadow: 2px 3px 5px rgba(166,89,91,1); 
  border: 4px solid rgba(166,89,91,1);
}

input[type=button]{
  width: 100%;
	border: #fbfbfb solid 4px;
  margin-top: 20px;
	cursor: pointer;
	background-color: rgba(166,89,91,1);
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
}